@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-2xl;
        @apply font-bold;
        @apply text-indigo-600;
        @apply py-8;
    }
    h2 {
        @apply text-xl;
        @apply font-bold;
        @apply text-emerald-600;
        @apply py-5;
    }
    h3 {
        @apply text-lg;
        @apply font-bold;
        @apply text-violet-600;
        @apply py-3;
    }

    a {
        @apply underline;
        @apply font-semibold;
        @apply text-blue-800;
    }

    p {
        @apply py-2;
        /* @apply w-3/4 */
    }

    dt {
        @apply font-bold;
        @apply italic;
        @apply underline;
    }

    dd {
        @apply pb-0.5;
        @apply pl-1;

    }

    ul {
        @apply list-disc;
        @apply pl-3.5;
        @apply py-0.5;
    }


    div.example { @apply py-4; @apply px-1;}
    pre.example { @apply py-4; @apply px-1;}

    div.code-example {
        @apply py-4; @apply px-1;
        @apply overflow-x-auto;
        -webkit-border-radius: .3em;
        -moz-border-radius: .3em;
        border-radius: .3em;
        border: 1px solid #d4cbb6;
        background-color: #f2efe4;
    }

    div.repl-example {
        @apply py-4; @apply px-1;
        @apply overflow-x-auto;
        -webkit-border-radius: .3em;
        -moz-border-radius: .3em;
        border-radius: .3em;
        border: 1px solid #d4cbb6;
        background-color: #34495e;
        color: white;
    }


    /*span.command::before {content: "GDL-USER\> ";
		      color: #239b56;}
   */

    span.command::after {content: "\a";
		         white-space: pre;}
    span.command-no-prefix::after {content: "\a";
		                   white-space: pre;}
    span.output::after {content: "\a";
		        white-space: pre;}
    span.comment::after {content: "\a";
		         white-space: pre;}
    span.code::after {content: "\a";
		      white-space: pre;}
    span.code-comment::after {content: "\a";
		              white-space: pre;}
    span.error::after {content: "\a";
		       white-space: pre;}

    span.prompt {color: #239b56;}
    span.command {color: white;}
    span.command-no-prefix {color: white;}
    span.output {color: #ca6f1e;}
    span.comment {color: #97694f;}
    span.code-comment {color: green;}
    span.comment {color: white;}


    /*
 FLAG Ref: https://gitlab.genworks.com:8443/genworks/training/-/issues/1

 The following classes should prolly have some sort of accessible
 option for the colorblind users.

   */


    span.object {color: black;
	         background: lightgray;
	         font-family: monospace;}

    span.function {color: blue;
	           background: #cac51e;
	           font-family: monospace;}
    span.macro {color: blue;
	        background: #ca951e;
	        font-family: monospace;}
    span.object-keyword {color: white;
	                 background: #951eca;
	                 font-family: monospace;}

    span.general-keyword {color: #951eca;
	                  background: lightgray;
	                  font-family: monospace;}

    span.slot {color: white;
	       background: #239b56;
	       font-family: monospace;}
    span.special-operator {color: white;
	                   background: red;
	                   font-family: monospace;}
    span.variable-name {color: blue;
	                background: pink;
	                font-family: monospace;}
    span.package-name {color: red;
	               background: #70db93;
	               font-family: monospace;}

    span.value {color: #c0c0c0;
	        background: #4d4dff;
	        font-family: monospace;}
    span.format-directive {color: white;
		           background: black;
		           font-family: monospace;}



    .main-page-item {
        background-color: rgba(216, 216, 216, 0.8);
        border: collapse;
        padding: 5px;
        text-align: left;
    }

    .gs-button-blue {
        @apply mt-3;
        @apply w-full;
        @apply flex;
        @apply items-center;
        @apply justify-center;
        @apply px-5;
        @apply py-3;
        @apply border;
        @apply border-transparent;
        @apply shadow;
        @apply text-base;
        @apply font-medium;
        @apply rounded-md;
        @apply text-white;
        @apply bg-indigo-500;
        @apply hover:bg-indigo-400;
        @apply focus:outline-none;
        @apply focus:ring-2;
        @apply focus:ring-offset-2;
        @apply focus:ring-offset-indigo-700;
        @apply focus:ring-white;
        @apply sm:mt-0;
        @apply sm:ml-3;
        @apply sm:w-auto;
        @apply sm:flex-shrink-0;
    }

    
    
}
